#index{
    background-image: url(otroFondo.jpg);
    background-attachment: fixed;
}

#tablero{
    background-image: url(otroFondo.jpg);
    background-attachment: fixed;

}

.copyright{
    font-size: smaller;
    font-weight: lighter;
}

.MainEstilos{
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.5);
}

.texto{
    color: darkgreen;
}



/* tablero */

.cantidadEstilos{
     background-color: rgba(239, 243, 242, 0.5);

    h3{
        font-size: 50px;
        font-weight: bolder;
        text-align: center;
        color: black;
       
    }
}
#cantidadJugadores{

    margin-left: 350px;
    margin-right: 200px;
    

    div{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 0;
    color: black;
    }
}

 
// Tabla donde se ingresan los nombres 

.centrarTitulo{
    font-size: 2.5rem;
    margin: 50px;
    text-align: center;
    color:white;
    background-color: #ee8057;
    padding: 30px;
}

#nombreJugadores {
    width: 500px;
    margin: 0 auto;
    padding: 24px;
}

.nombres {
    background-color: #556052;
    font-family: 'PT Serif', serif;
    font-size: 1.8rem;
    box-shadow: 0 0 3px #EDBB99 inset;
    margin-bottom: 16px;
    width: 100%;
    padding: 10px 0 10px 10px;
    height: 48px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.nombres::placeholder {
    color: #556052;
}
  
.submit {
    cursor: pointer;
    height: 48px;
    padding: 0 20px;
    border: none;
    font-family: 'Oranienbaum', sans-serif;
    font-size: 1.8rem;
    color: #fff;
    background-color: #ee8057;
    margin: 0 auto;
    display: block;
    width: 50%;
  }

@media only screen and (max-width:768px)
{
    .cantidadEstilos{
    

        h3{
            font-size: 25px;
            text-align: center;
        }
    }
    #cantidadJugadores{
    
        margin-left: 1px;
        display: flex;
        flex-direction: row;
    
        div{
        font-size: 22px;
        margin-left: 5px;
        }
    }

    .centrarTitulo{
        font-size: 20px;
    }

    #nombreJugadores{
        width: 300px;
        padding: 10px;
    }

}



/* tablerooo */

#tablero_ {
    background: #2b580c;
    color: #fff;
    font-family: 'Lato', Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

table {
    width: 80%;
    margin: auto;
}
 
table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
}
 
 
th, td {
    padding: 10px;
}
 
.criterio{
   padding-left: 0px;
   padding-right: 0px;
   margin-left: 0px;
   margin-right: 0px;
   text-align: center;
}
 
select{
   width: 100%;
}


@media only screen and (max-width:768px) {

   table {
       width: 20%;
       margin: auto;
    }
    
    table, th, td {
       border: 1px solid #fff;
       border-collapse: collapse;
    }
    
    th, td {
       padding: 20px;
    }

}


